doctype html
html(lang="en")
	head
		title='CDN Index'
		link(rel='stylesheet', href='./css/index.css')
	body.sio.default
		.top-nav
			.title CDN
			.links
				a(href='https://senders.io') senders.io
		.lg-txt.
			This is the CDN Index page for the CSS/Stylings of 
			#[a(href='https://senders.io') senders.io]
