doctype html
html(lang="en")
	head
		title='CDN Index'
		link(rel='stylesheet', href='./css/index.css')
	body.sio.default
		.top-nav
			span.title CDN / CSS
		.lg-txt.
			This is the CDN Index page for the CSS/Stylings of 
			#[a(href='https://senders.io') senders.io]
			This page acts as a reference for all the stylings that are used by the site. 
		.lg-txt.
			#[pre.code .lg-txt]
			These are areas where blocks of text can be displayed. These blocks of text contain an underline and some text 
			at a half width
