@ft-mx: 5em;
@ft-lg: 3em;
@ft-md: 1.5em;
@ft-nm: 1em;
@ft-sm: .75em;
@ft-fm-sans: Helvetica Neue, Helvetica, Arial, sans-serif;
& .centered{
	text-align:center;
}
& .bold{
	font-weight: bold;
}
& pre.code{
	display:block;
	font-size: @ft-sm;
	margin: 5px;
	border-left: 5px solid @theme-color;
	padding:5px 10px 5px 10px;
	background-color: @bg-code-color;
	color: @code-color;
}